@charset "UTF-8";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
  padding: 20px;
  background-color: #eff3f4;
}/* 回答はここに書いてね */
.text {
  font-size: 18px;
  line-height: 22px;
}
.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.img-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

