@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
  background-color: #eff3f4
}

.q1-list > li {
  float: left;
  background-color: #3274ae;
  padding: 20px;
  margin: 20px;
  margin-right: 0;
}

.text {
  width: 230px;
  background-color: #eaf4ff;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  border: solid;
  border-width: 10px;
  border-color: #022336;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
