@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
  padding: 20px;
  background-color: #eff3f4
}

.q1-list > li {
  float: left;
  background-color: #3274ae;
  padding: 20px;
  margin-left: 20px;
}

li:first-child {
  margin-left: 0px;
}

/*親要素(ul)にpaddingを指定して子要素(li)でmarginを指定して幅をとる。
ただ、paddingがなくなると濃い青の部分が見えなくなってしまうので注意！*/

.text { /*html側をdivからpタグに変更*/
  width: 230px;
  background-color: #eaf4ff;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  border: 10px solid #022336; /*文字・形・色なるべく1行で*/
  box-sizing: border-box;
}

/* 回答はここに書いてね */
