@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  border-radius: 30px;
  border: 5px solid #222;
  margin: 0 auto;
  font-size: 16px;
}

.balloon:before,.balloon:after {
  content:"";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.balloon:before {
  bottom: -45px;
  left: 30px;
  border-top-color: #222;
}

.balloon:after {
  bottom: -38px;
  left: 30px;
  border-top-color: #fff;
  
}

/* 回答はここに書いてね */
