@charset "UTF-8";

/* 回答はここに書いてね */

/*.box {
  padding:20px;}
  クラス名を変更 html側でdivタグを統合して減らした。*/
.graph {
  padding: 20px
}

.content {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center
}
.content:last-child {
  margin-top: 25px
}

.item { /*.item1,.item2 itemに名前を統一 色で分けてスタイルを付けるに変更。*/
  display: table-cell;
  text-align: center;
  padding: 20px;
  vertical-align: middle;
}

/*以下html側でclass名を増やして色ごとに指定*/

.orange /*.item1:nth-child(1)*/ {
  background-color: #fdc8b8;
  width: 100px;
}
.pink /*.item1:nth-child(2)*/ {
  background-color: #e0abd9;
}
.blue /*.item1:nth-child(3)*/ {
  background-color: #b6d8ed;
  width: 100px;
}
.yellow /*.item2:nth-child(1)*/ {
  background-color: #e5d32e;
}
.red /*.item2:nth-child(2)*/ {
  background-color: #ec8f9a;
}
.green /*.item2:nth-child(3)*/ {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
