@charset "UTF-8";

.graph {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;/*追加*/
}

.graph tr:nth-child(even) {
  background-color: #ecf1f2;
}

.graph th {
  color: #fff;
  font-size: 18px;
  background-color: #2244aa;
  padding: 10px;
  line-height: 26px;
  border: solid 1px #dedede;
}

.graph td {
  font-size: 16px;
  padding: 10px;
  line-height: 22px;
  border: solid 1px #dedede;
}

.graph tr:last-child {
  border-top: dashed 2px #000;
}

/*table tr:last-child td {
  border-top: dashed 2px #000;
}
table tr:last-child th {
  border-top: dashed 2px #000;*/

/* 回答はここに書いてね */

